.home{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 99.9vh;
  width: 100%;
    .container{
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        font-family: Arial, Helvetica, sans-serif;
        .features, .information{
            width: 80%;
            height: 200px;
            border: 1px solid #ccc;
            margin-bottom: 20px;

        }
        .features{
            display: flex;
            .features-info{
                width: 200px;
                height: 180px;
                background-color: #4da5fd;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                color: #fff;
                padding: 10px;
                b{
                    font-size: 20px;
                }
                button{
                    background-color: #ff5917;
                    width: 100%;
                    border: none;
                    color: #fff;
                    height: 30px;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
            .image{
                margin: 20px;
                width: 130px;
                height: 160px;
                border: 1px solid #ccc;
            }
            .menu{
                display: flex;
                .menu-left, .menu-right{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    margin-left: 50px;
                    a{
                        margin: 5px;
                    }
                }
            }
        }
        .information{
            border-left: 3px solid #3f9cf9;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                color: #0051a2;
            }
            .info-detail{
                width: 100%;
                display: flex;
                .info-detail-left, .info-detail-right{
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;
                    gap: 10px;
                }
            }
        }
        .register, .grades, .schedules{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            margin-bottom: 50px;
            h3{
                color: #0051a2;
                border-left: 3px solid #3f9cf9;
                width: 100%;
                text-align: center;
            }
            h4{
                color: #f9803f;
                border-left: 3px solid #f9803f;
                width: 100%;
                text-align: center;
            }
            .choose-register{
                display: flex;
                .register-period{
                    select{
                        height: 30px;
                    } 
                }
                .learning{
                    color: red;
                    margin-left: 20px;
                    label{
                        margin-right: 10px;
                    }
                }
            }
            .list-course, .list-course-section, .course-section-detail, .course-section-registered{
                width: 100%;
            }
            .btn-register{
                margin: 20px 0;
                background-color: #f9803f;
                border: none;
                color: #fff;
                padding: 10px;
                font-size: 16px;
                font-weight: 600;
                cursor: pointer;
            }
        }
        .curriculum {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            margin-bottom: 50px;
          }
          
          .curriculum h3 {
            font-size: 1.5rem;
            margin-bottom: 10px;
            color: #0051a2;
          }
          
          .curriculum-table {
            overflow-x: auto;
            width: 100%;
          }
          
          .curriculum-table table {
            width: 100%;
            border-collapse: collapse;
          }
          
          .curriculum-table th, .curriculum-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
          }
          
          .curriculum-table th {
            background-color: #0767f8;
            color: #fff;
          }
          
          .curriculum-table tbody tr:nth-child(even) {
            background-color: #f2f2f2;
          }
          
          .curriculum-table tbody tr:hover {
            background-color: #dddddd;
            cursor: pointer;
          }
        .grades{

        }
        .schedules{
            .schedules-options{
                height: 20px;
                display: flex;
                width: 100%;
                justify-content: flex-end;
                gap: 20px;
                input, button {
                    cursor: pointer;
                    background-color:#0d79e4;
                    color: #fff;
                    border: none;
                    font-weight: 600;
                    
                }
                button:hover{
                    background-color:#e7f1ff;
                    color: #0d79e4;
                }
            }
            
            th, td{
                border: 1px solid #cbe8ff;
            }
        }
    }
}